<%= form_with(model: @task, local: true) do |form| %>
  <%= render 'layouts/error_explanations' %>

  <div class="task_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="task_detail">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>
  <div class="task_deadline">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="task_situation">
    <%= form.label :situation %>
    <%= form.select :situation, options_for_select(Task.situations) %>
  </div>
  <div class="task_priority">
    <%= form.label :priority %>
    <%= form.select :priority, options_for_select(Task.priorities.keys) %>
  </div>
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to "タスク一覧画面に戻る", tasks_path %>
