<div class="container col-6 offset-3">
  <h1>ユーザーの詳細</h1>
  <table class="table table-hover boards__table">
    <thead class="thead-dark">
      <tr>
        <th><%= t('view.id') %></th>
        <td><%= @user.id %></td>
      </tr>
      <tr>
        <th><%= t('view.user') %></th>
        <td><%= @user.user %></td>
      </tr>
      <tr>
        <th><%= t('view.email') %></th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th><%= t('view.admin') %></th>
        <td><%= @user.admin?? 'あり':'なし' %></td>
      </tr>
      <tr>
        <th><%= t('view.user_created_at') %></th>
        <td><%= @user.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
      </tr>
      <tr>
        <th><%= t('view.user_updated_at') %></th>
        <td><%= @user.updated_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
      </tr>
     </thead>
  </table>
</div>

<%= link_to "編集", edit_admin_user_path, class:"btn btn-primary mr-3" %>
<%= link_to "削除", [:admin, @user], method: :delete, data:{ confirm: "ユーザー「#{@user.user}を削除します。よろしいですか？"} %>

<h2><%= "#{@user.user}のタスク一覧" %></h2>

<div class="paginate_1">
  <%= paginate @tasks %>
</div>

<table class="table table-hover boards__table">
  <thead class="thead-dark">
    <tr>
      <th><%= t('view.name') %></th>　
      <th><%= t('view.detail') %></th>
      <th><%= t('view.created_at') %></th>
      <th><%= t('view.deadline') %></th>
      <th><%= t('view.situation') %></th>
      <th><%= t('view.priority') %></th>
      <th class="text-center">詳細</th>
      <th class="text-center">編集</th>
      <th class="text-center">削除</th>
    </tr>
   </thead>
  <% @tasks.each do |task| %>
    <tbody>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.created_at.strftime('%Y年%m月%d日 %H時%M分%S秒') %></td>
        <td><%= task.deadline.strftime('%Y年%m月%d日') %></td>
        <td class="text-center"><%= task.situation %></td>
        <td class="text-center"><%= task.priority %></td>
        <td><%= link_to "詳細", task_path(task.id), class:"btn btn-info" %></td>
        <td><%= link_to "編集", edit_task_path(task.id), class:"btn btn-info" %></td>
        <td><%= link_to '削除', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, class:"btn btn-danger" %></td>
      </tr>
    </tbody>
  <% end %>
</table>

<%= link_to "タスクの作成日時順を表示", tasks_path,class:"btn btn-secondary mr-2" %>
<%= link_to "終了期限でソートする", tasks_path(deadline: 'true'),class:"btn btn-secondary mr-2" %>
<%= link_to "優先順位を高い順にソートする", tasks_path(priority: 'true'),class:"btn btn-secondary mr-2" %>

<div class="paginate_2 mt-2">
  <%= paginate @tasks %>
</div>
