<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/tasks">Task</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <% if current_user.admin? %>
              <li><%= link_to "管理者 ユーザー一覧", admin_users_path, class: 'nav-link' %></li>
            <% end %>
            <li><%= link_to "登録者情報", user_path(current_user.id), class: 'nav-link ml-5' %></li>
            <li><%= link_to "ログアウト", logout_path, method: :delete, class: 'nav-link ml-5' %></li>
          <% else %>
            <li><%= link_to "新規登録", new_admin_user_path, class: 'nav-link' %></li>
            <li><%= link_to "ログイン", login_path, class: 'nav-link ml-5' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
